.logo-image{
    width: 200px;
}

@media only screen and (max-width: 700px){
    .logo-image{
        width: 100px;
    }

    .text-title{
        font-size: 18px;
    }

    .col-4{
        flex: 0 0 50% !important;
        max-width: 50%;
    }

    .offset-4 {
        margin-left: 25% !important;
    }
}
